@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }

  /* Items page*/

  .items-filter__search-item {
    flex: 4 0 40%;
  }

  .items-filter__search-category {
    flex: 4 0 40%;
    margin-right: 0px;
  }

  .items-filter__oder {
    flex: 8 0 80%;
    margin-left: 0px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 570px;
  }

  /* Forms */

  .form-container__picture {
    flex: 4 0 30%;
  }

  .form-container__content {
    flex: 1 0 60%;
  }

  /* Items page*/

  .items-filter__search-item {
    flex: 1 0 90%;
  }

  .items-filter__search-category {
    flex: 1 0 90%;
    margin-left: 0px;
  }

  .items-filter__oder {
    flex: 8 0 20%;
  }

  .items-table__col-date {
    display: none;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: None;
  }

  .chart {
    max-width: 200px;
    max-height: 200px;
  }

  /* Forms */

  .form-container {
    flex-direction: column-reverse;
  }

  .form-container__picture {
    display: none;
  }

  .form-container__content {
    flex: 1 0 auto;
  }

  /* Categories */

  .categories-filter__search {
    flex: 1 0 100%;
  }

  .categories-filter__order {
    flex: 6 0 auto;
    margin-left: 0px;
    margin-right: 10px;
  }

  .categories-filter__button {
    flex: 1 0 1rem;
  }

  /* Items Page */

  .items-table__col-category {
    display: none;
  }
}
