<nav class="navbar sticky-top bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'budget:index' %}">DailyBudget</a>
    <div class="nav-item dropdown">
      {% if user.is_authenticated %}
        <a
          class="nav-link dropdown-toggle"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{ user.get_username }}
        </a>
        <div class="dropdown-menu dropdown-menu-end">
          <a class="dropdown-item" href="{% url 'account:logout' %}">Logout</a>
        </div>
      {% else %}
        <a class="btn btn-primary" href="{% url 'account:login' %}">Login</a>
        <a class="btn btn-primary" href="{% url 'account:create_account' %}">Create account</a>
      {% endif %}
    </div>
  </div>
</nav>
