<nav class="navbar">
  <div class="container navbar-container">
    <a class="navbar-container__brand" href="{% url 'budget:index' %}">DailyBudget</a>
    <div class="navbar-container__options">
      {% if user.is_authenticated %}
        <a class="calm-btn" href="{% url 'account:logout' %}">Logout</a>
      {% else %}
        <a class="calm-btn" href="{% url 'account:login' %}">Login</a>
        <a class="call-to-action-btn" href="{% url 'account:create_account' %}">Create account</a>
      {% endif %}
    </div>
  </div>
</nav>
