{% extends 'budget/base.html' %}

{% block content %}
<div class="component-page">
  <div class="container component-page-container">
    <div class="component-page-container__header">
      <h1>Categories</h1>
      <a class="call-to-action-btn" href="{% url 'budget:add_category' %}">
        <span class="material-symbols-outlined">add</span>Add category
      </a>
    </div>
    <form class="categories-filter" method="GET">
      <div class="categories-filter__item categories-filter__search">
        <label for="{{ form.name.id_for_label }}">
          {{ form.name.label }}:
        </label>
        <input
          type="text"
          class="categories-filter__item-button"
          id="{{ form.name.id_for_label }}"
          name="{{ form.name.html_name }}"
          placeholder="Search by {{ form.name.label }}"
          {% if form.name.value != None %}
          value="{{ form.name.value }}"
          {% endif %}
        />
      </div>
      <div class="categories-filter__item categories-filter__order">
        <label for="{{ form.ordering.id_for_label }}">
          {{ form.ordering.label }}:
        </label>
        <select
          class="categories-filter__item-button"
          id="{{ form.ordering.id_for_label }}"
          name="{{ form.ordering.html_name }}"
          onchange="this.form.submit()"
        >
          {% for item in form.ordering %}
          <option
            value="{{ item.data.value }}"
            {% if item.data.selected %}
            selected
            {% endif %}
          >
            {{ item.data.label }}
          </option>
          {% endfor %}
        </select>
      </div>
      <div class="categories-filter__item categories-filter__button">
        <label>Search:</label>
        <button type="submit" class="categories-filter__item-button">
          <span class="material-symbols-outlined">search</span>
        </button>
      </div>
    </form>
    <div class="categories-table">
      <div class="categories-table__header">
        <div class="categories-table__col-count">#</div>
        <div class="categories-table__col-name">Name</div>
        <div class="categories-table__col-items">Items</div>
        <div class="categories-table__col-edit">Edit</div>
      </div>
      <div class="categories-table__content">
        {% for category in categories %}
        <div class="categories-table__item">
          <div class="categories-table__col-count">{{ forloop.counter }}</div>
          <div class="categories-table__col-name">{{ category.name }}</div>
          <div class="categories-table__col-items">{{ category.num }}</div>
          <div class="categories-table__col-edit">
            <a class="settings" href="{% url 'budget:edit_category' category.slug %}">
              <span class="material-symbols-outlined">edit</span>
            </a>
          </div>
        </div>
        <hr class="gor-hr">
        {% endfor %}
      </div>
    </div>
    {% block pagination %}
      {% include './_blocks/pagination.html' %}
    {% endblock %}
  </div>
</div>
{% endblock %}
