{% extends 'budget/base.html' %}
{% load humanize %}

{% block content %}
<div class="component-page">
  <div class="container component-page-container">
    <div class="component-page-container__header">
      <h1>Items</h1>
      <a class="call-to-action-btn" href="{% url 'budget:add_item' %}">
        <span class="material-symbols-outlined">add</span>Add item
      </a>
    </div>
    <form class="items-filter" method="GET">
      <div class="items-filter__item items-filter__search-item">
        <label for="{{ form.title.id_for_label }}">
          {{ form.title.label }}:
        </label>
        <input
          type="text"
          class="items-filter__item-button"
          id="{{ form.title.id_for_label }}"
          name="{{ form.title.html_name }}"
          placeholder="Search by {{ form.title.label }}"
          {% if form.title.value != None %}
          value="{{ form.title.value }}"
          {% endif %}
        />
      </div>
      <div class="items-filter__item items-filter__search-category">
        <label for="{{ form.category.id_for_label }}">
          {{ form.category.label }}:
        </label>
        <input
          type="text"
          class="items-filter__item-button"
          id="{{ form.category.id_for_label }}"
          name="{{ form.category.html_name }}"
          placeholder="Search by {{ form.category.label }}"
          {% if form.category.value != None %}
          value="{{ form.category.value }}"
          {% endif %}
        />
      </div>
      <div class="items-filter__item items-filter__oder">
        <label for="{{ form.ordering.id_for_label }}">
          {{ form.ordering.label }}:
        </label>
        <select
          class="items-filter__item-button"
          id="{{ form.ordering.id_for_label }}"
          name="{{ form.ordering.html_name }}"
          onchange="this.form.submit()"
        >
          {% for item in form.ordering %}
            <option
              value="{{ item.data.value }}"
              {% if item.data.selected %}
              selected
              {% endif %}
            >
              {{ item.data.label }}
            </option>
          {% endfor %}
        </select>
      </div>
      <div class="items-filter__item items-filter__button">
        <label>Search:</label>
        <button type="submit" class="items-filter__item-button">
          <span class="material-symbols-outlined">search</span>
        </button>
      </div>
    </form>
    <div class="items-table">
      <div class="items-table__header">
        <div class="items-table__col-count">#</div>
        <div class="items-table__col-date">Date</div>
        <div class="items-table__col-title">Title</div>
        <div class="items-table__col-cost">Cost</div>
        <div class="items-table__col-category">Category</div>
        <div class="items-table__col-edit">Edit</div>
      </div>
      <div class="items-table__content">
        {% for item in items %}
        <div class="items-table__item">
          <div class="items-table__col-count">{{ forloop.counter }}</div>
          <div class="items-table__col-date">{{ item.date|date:"Y M d H:i" }}</div>
          <div class="items-table__col-title">{{ item.title|truncatechars:25 }}</div>
          <div class="items-table__col-cost">{{ item.cost|intcomma }} ₽</div>
          <div class="items-table__col-category">{{ item.category|truncatechars:25 }}</div>
          <div class="items-table__col-edit">
            <a class="settings" href="{% url 'budget:edit_item' item.pk %}">
              <span class="material-symbols-outlined">edit</span>
            </a>
          </div>
        </div>
        <hr class="gor-hr">
        {% endfor %}
      </div>
    </div>
    {% block pagination %}
      {% include './_blocks/pagination.html' %}
    {% endblock %}
  </div>
</div>
{% endblock %}
