{% extends 'budget/base.html' %}

{% block content %}
<div class="row">
  <div class="col-12">
    {% block item_operation_title %}
    {% endblock %}
    <form class="row g-3 needs-validation" method="post" novalidate>
      {% csrf_token %}
      {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
          <div class="alert alert-warning" role="alert">
            {{ error|escape }}
          </div>
        {% endfor %}
      {% endif %}
      {% for field in form %}
      <div
        class="{% if field.name == "time" or field.name == "date" %}
                 col-md-3 col-6
               {% else %}
                 col-md-6 col-12
               {% endif %}"
      >
          {{ field.label_tag }}
          {{ field }}
          {% if field.errors and not form.non_field_errors %}
            {% for error in field.errors %}
              <div class="text-danger">
                <small>{{ error|escape }}</small>
              </div>
            {% endfor %}
          {% else %}
            <div class="valid-feedback">
              Looks good!
            </div>
          {% endif %}
        </div>
      {% endfor %}
      <div class="col">
        <a class="btn btn-outline-secondary" href="{% url 'budget:items' %}">Cancel</a>
        {% block item_operation %}
        {% endblock %}
      </div>
    </form>
  </div>
</div>
{% endblock %}
