{% extends 'budget/base.html' %}

{% block content %}
<div class="item-page">
  <div class="container form-container">
    <div class="form-container__picture">
      {% block item_operation_picture %}
      {% endblock %}
    </div>
    <div class="form-container__content">
      {% block item_operation_title %}
      {% endblock %}

      <form class="form" method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
            <div class="form-warning">
              {{ error|escape }}
            </div>
          {% endfor %}
        {% endif %}

        {% for field in form %}
          <div class="form__elem">
            {{ field.label_tag }}
            {{ field }}

            {% if field.errors and not form.non_field_errors %}
              {% for error in field.errors %}
                <div class="form-alert">
                  <small>{{ error|escape }}</small>
                </div>
              {% endfor %}
            {% endif %}
          </div>
        {% endfor %}

        <div class="form-buttons">
          <a class="calm-btn" href="{% url 'budget:items' %}">Cancel</a>
          {% block item_operation %}
          {% endblock %}
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
