{% extends 'budget/category/category.html' %}
{% load static %}

{% block category_operation_picture %}
  <img src="{% static 'budget/images/svg/scenes/exit.svg' %}">
{% endblock %}

{% block category_operation_title %}
  <h1>Are you sure?</h1>
  {% if items %}
    <h2>All of the following related items will be deleted:</h2>
    <ul>
      {% for item in items %}
      <li>
        <a href="{% url 'budget:edit_item' item.pk %}">
          <span class="material-symbols-outlined">open_in_new</span>
          {{ item }}
        </a>
      </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}

{% block category_operation %}
  <input class="form__submit" type="submit" value="Yes"/>
{% endblock %}
